.navbar-brand {
  margin-top: 10px;
  margin-left: 78px;
}

.nav-link {
  font-family: Rubik, sans-serif;
  color: #0070ff;
  font-size: 16px;
}

.nav-link.w--current {
  color: #0070ff;
  font-size: 16px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(313deg, #00e2ff, #0059ff);
  background-image: linear-gradient(137deg, #00e2ff, #0059ff);
}

.hero-slogan {
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.firebase-widget {
  max-width: 500px;
  min-width: 500px;
  padding-top: 30px;
  font-family: Rubik, sans-serif;
}

.widget-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.widget-heading {
  font-family: Rubik, sans-serif;
  color: #0070ff;
  font-size: 25px;
  font-weight: 500;
}

.log-out {
  margin-top: 10px;
  border: 1.5px solid #0070ff;
  border-radius: 30px;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  color: #0070ff;
}

.log-in {
  margin-top: 10px;
  margin-right: 15px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(306deg, #50bbf6, #0070ff);
  background-image: linear-gradient(144deg, #50bbf6, #0070ff);
  font-family: Rubik, sans-serif;
}

.profile-bed {
  height: 100vh;
}

.container {
  margin-top: 25px;
  padding-right: 35px;
  padding-left: 35px;
}

.title {
  font-family: Rubik, sans-serif;
  color: #4d4d4d;
  font-weight: 500;
}

.liner {
  margin-bottom: 20px;
  border: 1px solid #4d4d4d;
}

.email-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 450px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none #0070ff;
}

.input {
  max-width: 400px;
  margin-bottom: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.input.info.phone {
  width: 100%;
}

.input.info {
  border-radius: 5px;
}

.update {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0px 17px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-update {
  float: none;
  clear: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: -webkit-linear-gradient(270deg, #19b168, #19b168);
  background-image: linear-gradient(180deg, #19b168, #19b168);
  font-family: Rubik, sans-serif;
}

.subtitle {
  display: inline-block;
  width: 50%;
  font-family: Rubik, sans-serif;
  color: #4d4d4d;
  font-size: 26px;
  font-weight: 400;
}

.profile-wrapper {
  margin-top: 35px;
}

.profile-update-btn {
  margin-left: 9px;
  border-radius: 7px;
  background-image: -webkit-linear-gradient(270deg, #19b168, #19b168);
  background-image: linear-gradient(180deg, #19b168, #19b168);
  font-family: Rubik, sans-serif;
}

.info-labels {
  margin-bottom: 1px;
  font-family: Rubik, sans-serif;
  color: #4d4d4d;
  font-weight: 400;
}

.info-labels.phone {
  margin-top: 37px;
}

.bio-input {
  max-width: 450px;
  min-height: 100px;
  border-radius: 5px;
}

.fas.fa-paw {
  font-family: Rubik, sans-serif;
  color: #fff;
  font-weight: 400;
}

.hero-col-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero-logo {
  margin-right: 0px;
  padding-right: 0px;
}

.hero-col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hero-a23 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 91px;
  line-height: 72px;
  font-weight: 300;
}

.hero-labs {
  margin-top: 8px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 77px;
  font-weight: 300;
}

.who-we-are {
  height: auto;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
}

.co-profile-row {
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.sphere-anim {
  height: 100%;
}

.intro-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 42px;
  padding-top: 0px;
  padding-right: 37px;
  padding-left: 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.profile-text {
  padding-right: 20px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.profile-welcome {
  font-family: Rubik, sans-serif;
  color: #3a90ff;
  font-weight: 500;
}

.services {
  padding-top: 35px;
  padding-bottom: 57px;
}

.service-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 21px;
  font-family: Rubik, sans-serif;
  color: #383838;
  font-size: 43px;
  font-weight: 700;
  text-align: center;
}

.section-title.clientele {
  margin-top: 11px;
  padding-top: 0px;
  color: #3a90ff;
  font-size: 33px;
}

.service-title {
  margin-bottom: 20px;
  font-family: Rubik, sans-serif;
  color: rgba(0, 0, 0, .85);
  font-size: 30px;
  font-weight: 500;
}

.image-2 {
  margin-bottom: 15px;
}

.image-3 {
  margin-bottom: 15px;
}

.image-4 {
  margin-bottom: 15px;
}

.image-5 {
  margin-bottom: 15px;
}

.service-description {
  margin-bottom: 11px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  text-align: center;
}

.service-description.featured {
  color: #a0a0a0;
  font-size: 25px;
  text-align: left;
}

.service-bio {
  margin-bottom: 23px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  text-align: center;
}

.service-button {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #383838, #383838);
  background-image: linear-gradient(180deg, #383838, #383838);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Rubik, sans-serif;
}

.service-button:hover {
  background-image: -webkit-linear-gradient(270deg, #0070ff, #0070ff);
  background-image: linear-gradient(180deg, #0070ff, #0070ff);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.clients {
  height: auto;
  padding-top: 35px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
}

.companies-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.company-logo {
  margin-right: 12px;
  margin-left: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-7 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-9 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-10 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-11 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-12 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-13 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-14 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-15 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-16 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-17 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-18 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-19 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-20 {
  margin-right: 8px;
  margin-left: 8px;
}

.get-in-touch {
  height: 300px;
  padding-top: 42px;
}

.social-media-container {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon {
  margin-right: 13px;
  margin-left: 13px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.icon-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-buzz {
  margin-bottom: 15px;
  font-family: Rubik, sans-serif;
  color: #383838;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.social-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.email-button {
  margin-bottom: 19px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #0070ff, #0070ff);
  background-image: linear-gradient(180deg, #0070ff, #0070ff);
  -webkit-transition: background-color 292ms ease, border-color 500ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 292ms ease, border-color 500ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, background-color 292ms ease, border-color 500ms ease, color 200ms ease;
  transition: transform 200ms ease, background-color 292ms ease, border-color 500ms ease, color 200ms ease, -webkit-transform 200ms ease;
  font-family: Rubik, sans-serif;
  font-size: 15px;
}

.email-button:hover {
  border: 2px solid #f44;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  color: #f44;
}

.sm-link {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.sm-link:hover {
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.footer {
  height: auto;
  padding-bottom: 6px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
}

.footer-column {
  padding-left: 34px;
  clear: none;
}

.footer-container {
  padding-top: 35px;
}

.image-22 {
  display: block;
  margin-right: 0px;
  float: right;
}

.footer-logo-div {
  margin-bottom: 10px;
}

.footer-text {
  font-family: Rubik, sans-serif;
  color: #a0a0a0;
  text-align: right;
}

.footer-text.featured {
  font-size: 15px;
  font-weight: 300;
}

.footer-text.featured.contact {
  font-size: 14px;
  text-align: left;
}

.featured-list {
  margin-left: 16px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #1a1a1a;
  text-decoration: none;
}

.link-block:hover {
  -webkit-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

.link-block.feature-link {
  -webkit-transition-property: none;
  transition-property: none;
  color: #1a1a1a;
}

.link-block.feature-link:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.text-block-2 {
  margin-left: 14px;
  color: #a0a0a0;
  text-decoration: none;
  text-transform: none;
}

.footer-icon {
  width: 25px;
  margin-right: 15px;
}

.link-block-2 {
  display: block;
  text-decoration: none;
}

.text-block-3 {
  text-align: center;
}

.footer-copyright {
  margin-top: 14px;
  font-family: Rubik, sans-serif;
  color: #a0a0a0;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.service-intro {
  padding-top: 40px;
  padding-bottom: 60px;
}

.title-block {
  margin-bottom: 30px;
}

.featured-title-icon {
  float: right;
}

.service-heading {
  font-family: Rubik, sans-serif;
  color: #0070ff;
  font-weight: 500;
}

.body-block {
  padding-right: 20px;
  padding-left: 20px;
}

.description {
  margin-bottom: 28px;
  font-family: Rubik, sans-serif;
  color: #1a1a1a;
}

.row {
  padding-right: 20px;
  padding-left: 20px;
}

.right-column {
  padding-top: 18px;
}

.feature-page {
  font-family: Rubik, sans-serif;
}

.call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* .hero-logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
} */

.hero-a23-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .hero-section {
    height: 55vh;
  }
  .hamburger {
    color: #0070ff;
  }
}

@media (max-width: 767px) {
  .title-block {
    padding:10px 50px;
  }
  .navbar-brand {
    margin-left: 37px;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-slogan {
    font-size: 23px;
  }
  .service-column {
    margin-top: 38px;
  }
  .service-container {
    padding-right: 32px;
    padding-left: 32px;
  }
  .service-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .featured-title-icon {
    max-width: 100%;
    float: none;
  }
  .hamburger {
    color: #0070ff;
  }
}

@media (max-width: 479px) {
  .title-block {
    padding:10px 50px;
  }
  .navbar-brand {
    margin-left: 15px;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-slogan {
    font-size: 19px;
  }
  .hero-a23 {
    font-size: 70px;
  }
  .hero-labs {
    margin-top: 1px;
    font-size: 62px;
  }
  .service-column {
    margin-top: 34px;
    padding-top: 23px;
  }
  .section-title {
    margin-bottom: -1px;
  }
  .service-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-column {
    margin-bottom: 26px;
  }
  .footer-text {
    margin-bottom: 0px;
  }
}